body {
      font-family: "Courier New", Courier, monospace;
    }

    /*=====HEADER=====*/
    .logo {
      width: inherit;
      height: auto;
    }

    .header-text {
      font-size: 13px;
      line-height: 1.4;
    }

    .header-blue {
      color: #003399;
      font-weight: bold;
    }

     .company-info {
      font-family: 'Poppins' ,sans-serif !important;
      font-weight: 700;
      line-height: 1.3;
      margin: 0;
    }

     .company-info > p {
      margin: 0;
    }

    .pagination {
      text-align: right;
      margin-top: 20px;
      margin-bottom: 20px;
    }


    /*=====CLIENT DETAILS=====*/

    .invoice-title {
      font-weight: bold;
      font-size: 25px;
    }

    .client-details {
      font-size: 20px;
      line-height: 1.3;
    }

    .client-info-label {
     margin-top: 20px;
     margin-bottom: 10px;
    }

    .client-more-info {
      margin-top: 20px;
      margin-bottom: 10px;
    }


    /*=====PRODUCTS SECTION=====*/
    .products {
      font-size: 19px;
      line-height: 1.3;
    }

    .product-table-container {
      height: 500px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    .products-td {
    padding-left: 15px;
    }

    .table td, .table th {
      padding: 0.1rem;
      vertical-align: middle;
    }

    /*====AMOUNTS SECTION=====*/
    .amounts {
      font-size: 15px;
      margin-bottom: 40px;
      padding: auto;
    }

    .amount-container {
      font-family: 'Times New Roman', Times, serif;
    }

    .value-column {
      text-align: right;
      padding-right: 10px;
    }

    .value-column-final {
        margin-top: -32px;
        margin-right: -32px;
    }


    /*=====FOOTER=====*/
    .footer {
      margin-top: 10px;
      font-family: 'Times New Roman', Times, serif;
    }

    

    

    